Source: djgpp-toolchain
Section: devel
Priority: optional
Maintainer: jwt27 <jwjagersma@gmail.com>
Build-Depends:
    git,
    bash,
    make,
    unzip,
    wget,
    bison,
    flex,
    texinfo,
    patch,
    tar,
    xz-utils,
    bzip2,
    gzip,
    dos2unix,
    zlib1g-dev,
    nasm,
    libslang2-dev,
    pkg-config,
    debhelper (>= 11)
Standards-Version: 4.1.2
Homepage: https://github.com/jwt27/build-gcc

Package: djgpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: binutils-djgpp, gcc-djgpp
Suggests: djgpp-doc
Description: DJGPP C library and utilities
 Required for gcc-djgpp.

Package: djgpp-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: djgpp
Description: Documentation for djgpp

Package: gcc-djgpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, djgpp, binutils-djgpp (>= 2.34-3ubuntu1+1.4)
Suggests: gcc-djgpp-doc, gcc-djgpp-extra
Description: GNU Compiler Collection
 Cross-compiler targeting djgpp. Supports C and C++.

Package: gcc-djgpp-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: gcc-djgpp
Conflicts: gcc-doc
Description: Documentation for gcc-djgpp

Package: gcc-djgpp-extra
Architecture: all
Depends: ${misc:Depends}
Recommends: gcc-djgpp
Suggests: gdb-djgpp
Description: Extra files for gcc
 Python pretty-printer script files for use with gdb.
 May conflict with system gcc.

Package: gdb-djgpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: gdb-djgpp-doc, gcc-djgpp-extra
Description: GNU Debugger
 Used to debug djgpp programs over a serial connection.

Package: gdb-djgpp-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: gdb-djgpp
Conflicts: gdb-doc
Description: Documentation for gdb-djgpp

Package: gdb-djgpp-extra
Architecture: all
Depends: ${misc:Depends}
Recommends: gdb-djgpp
Description: Extra files for gdb-djgpp
 May conflict with system gdb.

Package: libwatt-djgpp-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: djgpp, gcc-djgpp
Description: Watt-32 TCP socket library for DJGPP
