Source: djgpp-toolchain
Section: devel
Priority: optional
Maintainer: jwt27 <jwjagersma@gmail.com>
Build-Depends:
    git,
    bash,
    make,
    unzip,
    wget,
    bison,
    flex,
    texinfo,
    patch,
    tar,
    xz-utils,
    bzip2,
    gzip,
    dos2unix,
    zlib1g-dev,
    nasm,
    libslang2-dev,
    pkg-config,
    debhelper (>= 11)
Standards-Version: 4.1.2
Homepage: https://github.com/jwt27/build-gcc

Package: djgpp
Architecture: any
Tag: role::metapackage
Depends:
 djgpp-dev,
 djgpp-utils,
 gcc-djgpp,
 binutils-djgpp,
 gdb-djgpp,
 libwatt-djgpp-dev
Suggests: djgpp-doc
Description: DJGPP toolchain
 This meta-package installs all available components of the djgpp toolchain,
 including additional libraries.  For documentation see djgpp-doc.

Package: djgpp-doc
Architecture: any
Tag: role::metapackage
Depends:
 djgpp-dev-doc,
 gcc-djgpp-doc,
 binutils-djgpp-doc,
 gdb-djgpp-doc
Suggests: djgpp
Description: DJGPP toolchain documentation
 This meta-package installs the documentation for all available components of
 the djgpp toolchain.

Package: djgpp-dev
Architecture: any
Depends: ${misc:Depends}
Recommends: binutils-djgpp, gcc-djgpp, djgpp-utils
Suggests: djgpp-dev-doc
Description: DJGPP development kit -- libraries

Package: djgpp-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: binutils-djgpp, gcc-djgpp, djgpp-dev
Description: DJGPP development kit -- utilities
 Various utilities used to develop djgpp applications:
 * djasm
 * dxegen
 * dxe3gen
 * dxe3res
 * exe2coff
 * setenv
 * stubedit
 * stubify

Package: djgpp-dev-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: djgpp-dev
Description: DJGPP development kit -- documentation

Package: gcc-djgpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, djgpp-utils, binutils-djgpp (>= 2.35.2)
Recommends: djgpp-dev
Suggests: gcc-djgpp-doc
Description: GNU Compiler Collection
 Cross-compiler targeting djgpp.  Supports C and C++.

Package: gcc-djgpp-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: gcc-djgpp
Description: Documentation for gcc-djgpp

Package: binutils-djgpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: djgpp-utils
Suggests: binutils-djgpp-doc
Description: GNU Binutils
 Linker, assembler and other binary utilities targeting djgpp.

Package: binutils-djgpp-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: binutils-djgpp
Description: Documentation for binutils-djgpp.

Package: gdb-djgpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: gdb-djgpp-doc
Description: GNU Debugger
 Used to debug djgpp programs over a serial connection.

Package: gdb-djgpp-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: gdb-djgpp
Description: Documentation for gdb-djgpp

Package: libwatt-djgpp-dev
Architecture: any
Depends: ${misc:Depends}
Recommends: djgpp-dev, gcc-djgpp
Description: Watt-32 TCP socket library for DJGPP
