Source: djgpp-toolchain
Section: devel
Priority: optional
Maintainer: jwt27 <jwjagersma@gmail.com>
Build-Depends:
    git,
    bash,
    make,
    unzip,
    wget,
    bison,
    flex,
    texinfo,
    patch,
    tar,
    xz-utils,
    bzip2,
    gzip,
    dos2unix,
    zlib1g-dev,
    nasm,
    libslang2-dev,
    pkg-config,
    debhelper (>= 11)
Standards-Version: 4.1.2
Homepage: https://github.com/jwt27/build-gcc

Package: djgpp-dev
Architecture: all
Depends: ${misc:Depends}
Recommends: binutils-djgpp, gcc-djgpp, djgpp-utils
Suggests: djgpp-dev-doc
Provides: libc-djgpp-dev (= ${binary:Version})
Conflicts: libc-djgpp-dev
Description: DJGPP development kit -- libraries

Package: djgpp-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: binutils-djgpp, gcc-djgpp, djgpp-dev
Description: DJGPP development kit -- utilities
 Various utilities used to develop djgpp applications:
 * djasm
 * dxegen
 * dxe3gen
 * dxe3res
 * exe2coff
 * setenv
 * stubedit
 * stubify

Package: djgpp-dev-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: djgpp-dev
Description: DJGPP development kit -- documentation

Package: gcc-djgpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 djgpp-utils,
 binutils-djgpp (>= 2.35.2)
Recommends: djgpp-dev
Suggests: gcc-djgpp-doc
Provides:
 gcc-i386-pc-msdosdjgpp (= ${binary:Version}),
 g++-i386-pc-msdosdjgpp (= ${binary:Version}),
 g++-djgpp (= ${binary:Version}),
 libstdc++-djgpp-dev (= ${binary:Version})
Conflicts:
 gcc-i386-pc-msdosdjgpp,
 g++-i386-pc-msdosdjgpp,
 g++-djgpp,
 libstdc++-djgpp-dev
Description: GNU Compiler Collection
 Cross-compiler targeting djgpp.  This package contains both gcc, g++, and
 libstdc++.
 If you need compiler support for other languages, please let me know.

Package: gcc-djgpp-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: gcc-djgpp
Description: GNU Compiler Collection -- documentation

Package: binutils-djgpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: djgpp-utils
Suggests: binutils-djgpp-doc
Description: GNU Binutils
 Linker, assembler and other binary utilities targeting djgpp.

Package: binutils-djgpp-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: binutils-djgpp
Description: GNU Binutils -- documentation

Package: gdb-djgpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: gdb-djgpp-doc
Description: GNU Debugger
 Used to debug djgpp programs over a serial connection.

Package: gdb-djgpp-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: gdb-djgpp
Description: GNU Debugger -- documentation

Package: libwatt-djgpp-dev
Architecture: all
Depends: ${misc:Depends}
Recommends: djgpp-dev, gcc-djgpp
Description: Watt-32 TCP socket library for DJGPP
